*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(elle-coc-ho8hUqKBAnM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    margin-top: 30px;
}
#content{
    text-align: center;
    /* background-color: rgb(48, 195, 146); */
    padding: 50px;
}
.inp-div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    
}
label{
    font-size: 1.5rem;
    font-weight: 600;
}