*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 39, 126);
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* width: 100vw; */
    background-color: rgb(23, 23, 78);
    position: sticky;
}
nav ul{
    display: flex;
    justify-content: center;
    
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(125, 125, 236);
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 0;
}
.firstSection > div{
    width: 30%;
}
.leftSection{
    font-size: 2rem;
}
.rightSection img{
    width:90%;
    height:70%;
    margin: 65px 0;
}
.purple{
    color: rgb(150, 89, 206);
}
#element{
    color: rgb(150, 89, 206);
}

#about{
    padding: 80px 0;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 25%;
}
.about-col1 img{
    width: 95%;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 8px;
}
.about-col2{
    flex-basis: 65%;
}
.subtitle{
    font-weight: 600;
    color: #fff;
}
.about-col2 > p{
    font-size: small;
}
.tab-head{
    margin-top: 20px;
    font-size: larger;
}
#tc{
    font-size: small;
}
hr{
    margin-top: 5px;
}
.subtitle2{
    /* margin-left: 35px; */
    /* margin-top: 10px; */
    font-size: 2rem;
}
.contact .icons-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

}
.contact .icons-container .icons{
    text-align: center;
    margin: 70px;
    padding: 2rem;
    background-color:rgb(50, 50, 157);
    border-radius: .5rem;
}

.contact .heading{
    margin-left: 35px;
    margin-top: 10px;
    font-size: 2rem;
}
/* .icons2 a{
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 300px;
} */
.icons2 a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
    margin-top: 20px;
    margin-left: 300px;
}
.top{
    text-decoration: none;
    color: #fff;
    margin: 45%;
    font-size: 1.2rem;
}
/* projects */
/* .project-img{
    width: 100%; 
    width: 100%;
    height: 300px;
    border-radius: 20px;
    margin: 50px;
    transition: all 500ms ease;
} 
.project-wrapper{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 270px;
    box-shadow: 0 20px 80px rgba(0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.projects{
    display: flex;
    list-style: none;    
}
.project-wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    transition: opacity 450ms ease;
    opacity: 0;
    z-index: 2;
}
.projects:hover .project-wrapper::before{
    opacity: 0.7;
}
.projects:hover .project-img{
    transform-style: (1.07);
    filter: blur(3px);
}
.project-list{
    padding: 50px;
}
.project-descrpition{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    max-width: 550px;
    z-index: 3;
/* } */
.project-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #e2e7e6; */
}
.box{
    /* border: 2px solid black; */
    height: 370px;
    width: 23%;
    /* background-color: white; */
    padding: 20px 0px 15px;
    margin-top: 50px;
    
}
.box-img{
    height: 350px;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    display: block;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}
#projects{
    padding: 80px 0px;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 5px;
}
.box-content:hover .overlay{
    height: 100%;
}
h6{
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
}
